{% extends 'main/data_view.html' %}

{% block content %}
<div class="auth-box">
    <h2>Вхід до системи STUDERK</h2>
    <p class="auth-subtitle">Служба інформаційних технологій</p>
    
    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="input-field">
            <label>Логін (username):</label>
            {{ form.username }}
        </div>
        <div class="input-field">
            <label>Пароль:</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn-primary">Увійти в кабінет</button>
    </form>
    <div class="auth-footer">
        <p>Вперше в системі? <a href="{% url 'register' %}">Створити акаунт</a></p>
    </div>
</div>
{% endblock %}